*.egg-info
*.pot
*.py[co]
docs/_build/
*.un~
*~
*.orig
*.db
*.pem
*.rej
.installed.cfg
__minitage__*
env/*
develop-eggs
downloads
local_settings.py
log
parts
tmp
.*.sw*
.DS_Store
tmp/*
inensu/closetswap/static/.sass-cache
inensu/closetswap/static/config.rb
